<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106591818587-pfaco5auc1qakj2ioancmltl0jqkqmbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106591818587-pfaco5auc1qakj2ioancmltl0jqkqmbl</string>
	<key>API_KEY</key>
	<string>AIzaSyAdauGDIl1tORBOJvMg4tYq58T-ysNpplY</string>
	<key>GCM_SENDER_ID</key>
	<string>106591818587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khunnaywang.coolapp</string>
	<key>PROJECT_ID</key>
	<string>khunnaywang-7ee93</string>
	<key>STORAGE_BUCKET</key>
	<string>khunnaywang-7ee93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106591818587:ios:5e6eeb13ee7d037ae3c07e</string>
</dict>
</plist>